@model WebApplication22.Models.user

@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_Welcome.cshtml";
}

<div class="PopUpBG">

    <div class="RegisterPopUp hidden">
        <button class="x">x</button>
        @{
            using (Html.BeginForm("register", "Welcome", FormMethod.Post, new {enctype="multipart/form-data"}))
            {
                <input type="text" name="firstname" class="RFname" placeholder="First Name" required pattern="[a-zA-Z]+">
        <input type="text" name="lastname" class="RLname" placeholder="Last Name" required pattern="[a-zA-Z]+"><br>
                <input type="email" name="Email" class="Remail" placeholder="Email" required><br>
            <input type="password" name="password" class="Rpassword" placeholder="Password" required pattern="[a-zA-Z0-9!%&]+{6,14}">
                    <input type="password" name="RRpassword" class="RRpassword" placeholder="Repeat Password" required pattern="[a-zA-Z0-9!&%]+{6,14}"><br>
                    <input type="number" name="phone" class="Rphone" placeholder="Phone number" required pattern="[0-9]+{11}"><br>
            <select class="TypeSelect" name="status">
                <option>Client</option>
                <option>Marketing Director</option>
                <option>Marketing team leader</option>
                <option>Trainee</option>
            </select>
                    <input type="file" id="photo" name="photo" class="profilephoto" accept="image/x-png,img/gif,img/jpeg" required/><br>
                    <input type="checkbox" name="Rcheckbox" class="Rcheckbox" value="0"><label>Agree our policies</label><br><br />
                   <input type="submit" name="Rsubmit" class="Rsubmit" value="Sign Up">
            }
        }
        <ul class="dots">
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
        </ul>

    </div>
</div>

